<nav class="main-nav">
	{{ $url := replace .Permalink .Site.BaseURL "" }}
	{{ if not .IsHome }}
    <!-->
        <a href='{{ .Site.BaseURL }}'> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
    <-->
        <a href='{{ .LanguagePrefix }}'> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}
	<a href='{{ .LanguagePrefix }}/posts'>{{ with .Site.Params.archive }}{{ . }}{{ else }}Archive{{ end }}</a>
	<a href='{{ .LanguagePrefix }}/tags'>{{ with .Site.Params.tags }}{{ . }}{{ else }}Tags{{ end }}</a>
	<a href='{{ .LanguagePrefix }}/about'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>

	{{ range $key, $val := .Site.Params.Links }}
		<a href="{{ $val }}">{{ $key }}</a>
	{{ end }}

    <!-->
	{{ if .Site.Params.enableRSS }}
	<a class="cta" href="{{ .Site.RSSLink }}">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}Subscribe{{ end }}</a>
	{{ end }}
    <-->

{{ if .IsTranslated }}
    {{ range .Translations }}
        <a class="cta" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    {{ end}}
{{ end }}

</nav>
